<%= form_for @guest, :url => { :action => "create" } do |f| %>

  <% if @guest.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@guest.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @guest.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div id="eventLabel" class="label">CareerFair : <span id="eventName"><%=  @event.event_name %></span></div>
	
	<div class="control-group">
		<%= f.label :firstname %>
		<%= f.text_field :firstname %>
	</div>
	<div class="field">
		<%= f.label :lastname %>
		<%= f.text_field :lastname %>
	</div>
	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email, :as => :email %>
	</div>	
	<div class="field">
		<%= f.label :resume %>
		<%= f.text_area :resume, :hint => "At least 150 characters" %>
	</div>
	<div class="field">
		<%= f.label :event %>
		<%= f.select :event_id, @events.map{|e| [e.event_name, e.id]},:selected => params[:event_id]%>
	</div>	
	<div class="form-actions">
    <%= f.button :submit %>
	</div>
	
<% end %>


