<h1>Listing guests</h1>
<h2>
	Salon : <%= @event.event_name %> 
</h2>
<div class="form-horizontal">
	<div class="control-group">
	<label class="control-label" for="status">Filter</label>
	<div class="controls">
 		<%=select_tag(:status,options_from_collection_for_select(Guest.status,:first,:last,params[:status]),:class => "input-medium")%>
 	 	<input type="hidden" name="idevent" id="idevent" value="<%=@event.id%>">
 	 </div>
 	</div> 
</div>
<div id="infoCand">
</div>
<div id="listingCand">
	<%=  render :partial => 'guests/listing'%> 
</div>	

<br />

<%= link_to 'New Guest', new_guest_path %>
