<h1>Listing job_details</h1>

<table>
  <tr>
    <th>Job</th>
    <th>Key</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @job_details.each do |job_detail| %>
  <tr>
    <td><%= job_detail.job_id %></td>
    <td><%= job_detail.key %></td>
    <td><%= job_detail.value %></td>
    <td><%= link_to 'Show', job_detail %></td>
    <td><%= link_to 'Edit', edit_job_detail_path(job_detail) %></td>
    <td><%= link_to 'Destroy', job_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job detail', new_job_detail_path %>
