<%= render 'form' %>

<div class="container-fluid">

  <br /><br /><br />

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Event</th>
      <th>Actions</th>
    </tr>

  <% @badges.each do |badge| %>
    <tr>
      <td><%= badge.id %>. <%= badge.name %></td>
      <td><%= badge.company.name %></td>
      <td><%= badge.event.city %> / <%= badge.event.date_event %></td>
      <td>
        <%= link_to 'Edit', edit_companytoevent_badge_path(badge.companytoevent.id, badge.id) %> 
        <%= link_to 'Destroy', [badge.companytoevent, badge], method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>

  </table>

</div>