<pre><%= @resultJSON %></pre>

<% @resultJSON.parsed_response["ResponseFeedAPI"]["FeedItems"].each do |item| %>
  <%= item %> <hr />
  <% item.each do |key,value| %>
    <b><%= key %></b> : <%= value %> <br />
  <% end %>

  <hr /><hr />
<% end %>

<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Companytoevent</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.companytoevent_id %></td>
    <td><%= job.title %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
