<h1>Listing event_details</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Key</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_details.each do |event_detail| %>
  <tr>
    <td><%= event_detail.event_id %></td>
    <td><%= event_detail.key %></td>
    <td><%= event_detail.value %></td>
    <td><%= link_to 'Show', event_detail %></td>
    <td><%= link_to 'Edit', edit_event_detail_path(event_detail) %></td>
    <td><%= link_to 'Destroy', event_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event detail', new_event_detail_path %>
