
<%= form_for(@event) do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label id="event_address"> <%= f.text_field :address, :class => 'span10', :placeholder => 'Event address' %> </label> 
  <label id="event_city"> <%= f.text_field :city, :class => 'span10', :placeholder => 'Event city' %> </label> 
  
  <hr />
  
  date_event: <%= date_select("event", "date_event") %> <br />
  time_start: <%= f.text_field :time_start, :placeholder => 'Time start' %> <br />
  time_end: <%= f.text_field :time_end, :placeholder => 'Time end' %> <br />

  <hr />
  
  Subscription open:
  <label id="event_subscription_open_yes"><%= radio_button("event", "subscription_open", true) %> Yes</label> 
  <label id="event_subscription_open_no"><%= radio_button("event", "subscription_open", false) %> No</label> 
  <br />
  List customer open:
  <label id="event_list_customers_open_yes"><%= radio_button("event", "list_customers_open", true) %> Yes</label> 
  <label id="event_slist_customers_open_no"><%= radio_button("event", "list_customers_open", false) %> No</label> 

  <hr />
  
  <label id="event_url_catalog"><%= f.text_field :url_catalog, :class => 'span10', :placeholder => 'Url du catalogue' %></label> 
  <label id="event_url_technical_info"> <%= f.text_field :url_technical_info, :class => 'span10', :placeholder => 'url_technical_info' %> </label> 
  <label id="event_url_event_plan"> <%= f.text_field :url_event_plan, :class => 'span10', :placeholder => 'url_event_plan' %> </label> 

  <hr />
  date_end_customers: <%= date_select("event", "date_end_customers", :order => [:day, :month, :year], :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }) %> <br />
  date_end_badges: <%= date_select("event", "date_end_badges", :order => [:day, :month, :year], :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }) %> <br />
  

  <%= f.submit :class => "btn btn-primary btn-normal" %>

<% end %> 

<% 
    # t.time     "time_start"
    # t.time     "time_end"
%>