<%= form_for(@event, :html => { :class => "form-horizontal"}) do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= label_tag 'Subscription opened', nil, :class => "control-label", :for => 'ed:subscription_open' %>
    <div class="controls">
      <label class="radio inline">
        <%= radio_button_tag 'ed:subscription_open', "true", @subscription_open_value == "true" %> Yes
      </label>
      <label class="radio inline">
        <%= radio_button_tag 'ed:subscription_open', "false", @subscription_open_value == "false" %> No
    </label>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag 'Liste exposants ouverte', nil, :class => "control-label", :for => 'ed:customer_list_open' %>
    <div class="controls">
      <label class="radio inline">
        <%= radio_button_tag 'ed:customer_list_open', "true", @customer_list_open_value == "true" %> Yes
      </label>
      <label class="radio inline">
        <%= radio_button_tag 'ed:customer_list_open', "false", @customer_list_open_value == "false" %> No
      </label>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag 'Location', nil, :class => "control-label", :for => 'ed:location' %>
    <div class="controls">
      <%= text_field_tag 'ed:location', @location_value, :placeholder => 'Enter location for event...', :onchange => '' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag 'Date / Time', nil, :class => "control-label", :for => 'ed:date' %>
    <div class="controls">
      <%= select_date( @date_value, :field_name => 'ed:date', :prompt => {:day => 'Choose day', :month => 'Choose month', :year => 'Choose year'}) %>
    </div>
  </div>
     
  <div class="actions">
      <%= f.submit nil, :class => "btn" %>
  </div>
<% end %>