
<%= form_for(@event, :html => { :class => "form-horizontal"}) do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="control-group">
    <%= label_tag :address, nil, :class => "control-label", :for => "address" %>
    <div class="controls">
      <%= f.text_field :address, :placeholder => 'Adress of the Event' %>
    </div>
    <%= label_tag :city, nil, :class => "control-label", :for => "city" %>
    <div class="controls">
      <%= f.text_field :city, :placeholder => 'City of the Event' %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :date_event, nil, :class => "control-label", :for => "date_event" %>
    <div class="controls">
      <%= date_select("event", "date_event") %>
    </div>
    <%= label_tag :time_start, nil, :class => "control-label", :for => "time_start" %>
    <div class="controls">
      <%= f.text_field :time_start, :placeholder => 'Time start' %>
    </div>
    <%= label_tag :time_end, nil, :class => "control-label", :for => "time_end" %>
    <div class="controls">
      <%= f.text_field :time_end, :placeholder => 'Time end' %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :subscription_open, nil, :class => "control-label", :for => "subscription_open" %>
    <div class="controls">
      <label class="radio"><%= radio_button("event", "subscription_open", true) %> Yes </label>
      <label class="radio"><%= radio_button("event", "subscription_open", false) %> No </label>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :list_customers_open, nil, :class => "control-label", :for => "list_customers_open" %>
    <div class="controls">
      <label class="radio"><%= radio_button("event", "list_customers_open", true) %> Yes </label>
      <label class="radio"><%= radio_button("event", "list_customers_open", false) %> No </label>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :url_catalog, nil, :class => "control-label", :for => "url_catalog" %>
    <div class="controls">
      <%= f.text_field :url_catalog, :placeholder => 'Url of Catalog' %>
    </div>
    <%= label_tag :url_technical_info, nil, :class => "control-label", :for => "url_technical_info" %>
    <div class="controls">
      <%= f.text_field :url_technical_info, :placeholder => 'Url of technical information' %>
    </div>
    <%= label_tag :url_event_plan, nil, :class => "control-label", :for => "url_event_plan" %>
    <div class="controls">
      <%= f.text_field :url_event_plan, :placeholder => 'Url for the plan of Event' %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :date_end_customers, nil, :class => "control-label", :for => "date_end_customers" %>
    <div class="controls">
      <%= date_select("event", "date_end_customers", :order => [:day, :month, :year], :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }) %>
    </div>
    <%= label_tag :date_end_badges, nil, :class => "control-label", :for => "date_end_badges" %>
    <div class="controls">
      <%= date_select("event", "date_end_badges", :order => [:day, :month, :year], :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }) %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit :class => "btn btn-primary btn-normal" %>
    </div>
  </div>

<% end %> 
