<p id="notice"><%= notice %></p>

<p>
  <b>Site:</b>
  <%= @event.site_id %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Hour begin:</b>
  <%= @event.hour_begin %>
</p>

<p>
  <b>Hour end:</b>
  <%= @event.hour_end %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
