
<%= form_for(@contact, :html => { :class => "form-horizontal"}) do |f| %>

  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="control-group">
    <%= f.label :contact_name, :class => "control-label", :for => "contact_name" %>
    <div class="controls">
      <%= f.text_field :name, :placeholder => 'Contact name' %>
    </div>
  </div>  

  <div class="control-group">
    <%= f.label :contact_email, :class => "control-label", :for => "contact_email" %>
    <div class="controls">
      <%= f.text_field :email, :placeholder => 'Contact email' %>
    </div>
  </div>  

  <div class="control-group">
    <%= f.label :contact_phone, :class => "control-label", :for => "contact_phone" %>
    <div class="controls">
      <%= f.text_field :name, :placeholder => 'Contact phone number' %>
    </div>
  </div>  

  <div class="control-group">
    <%= f.label :password, :class => "control-label", :for => "contact_password" %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>  

  <div class="control-group">
    <%= f.label :password_confirmation, :class => "control-label", :for => "contact_password_confirmation" %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>


  <%= f.hidden_field :company_id, :value => params[:company_id] %>
  <%= f.submit :class => "btn btn-primary btn-normal" %>

<% end %> 

<% 
      # t.integer :company_id
      # t.string :password
%>