<h1>Listing jobseekers</h1>

<table>
  <tr>
    <th>Userdid</th>
    <th>Useremail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobseekers.each do |jobseeker| %>
  <tr>
    <td><%= jobseeker.userDID %></td>
    <td><%= jobseeker.userEmail %></td>
    <td><%= link_to 'Show', jobseeker %></td>
    <td><%= link_to 'Edit', edit_jobseeker_path(jobseeker) %></td>
    <td><%= link_to 'Destroy', jobseeker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jobseeker', new_jobseeker_path %>
