<p id="notice"><%= notice %></p>

<p>
  <b>Userdid:</b>
  <%= @jobseeker.userDID %>
</p>

<p>
  <b>Useremail:</b>
  <%= @jobseeker.userEmail %>
</p>


<%= link_to 'Edit', edit_jobseeker_path(@jobseeker) %> |
<%= link_to 'Back', jobseekers_path %>
