<div class="container-fluid">

  <div class="row-fluid">
    <div class="span8"> <%= link_to 'Add Feature', new_companytoevent_path, :class => "btn btn-primary" %> </div>
    <div class="span2 offset2"><strong>N°Stand : - Taille :  </strong> </div>
  </div>

  <br /><br /><br />

  <table class="table">
    <tr>
      <th>Lunch</th>
      <th>Desk</th>
      <th>Chair</th>
      <th>Table</th>
      <th>Trash</th>
      <th>Clothes rack</th>
      <th>Shelf</th>
      <th>Actions</th>
    </tr>

    <% @companytoevents.each do |companytoevent| %>
        <tr>
          <td><%= companytoevent.lunch %></td>
          <td><%= companytoevent.desk %></td>
          <td><%= companytoevent.chair %></td>
          <td><%= companytoevent.table %></td>
          <td><%= companytoevent.trash %></td>
          <td><%= companytoevent.clothesrack %></td>
          <td><%= companytoevent.shelf%></td>
          <td>
            <%= link_to 'Edit', edit_companytoevent_path(keys_companyid_and_eventid) %>
            <%= link_to 'Destroy', [companytoevent], method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    <% end %>

  </table>

</div>