<h1>Listing companytoevents</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companytoevents.each do |companytoevent| %>
  <tr>
    <td><%= companytoevent.company_id %></td>
    <td><%= companytoevent.event_id %></td>
    <td><%= link_to 'Show', companytoevent %></td>
    <td><%= link_to 'Edit', edit_companytoevent_path(companytoevent) %></td>
    <td><%= link_to 'Destroy', companytoevent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Companytoevent', new_companytoevent_path %>
