<div class="container-fluid">

    <div class="row-fluid">  
      
      
        <div class="span4">
          <% if @companytoevents.size <= 0 %>        
             <%= link_to 'Add Feature', new_companytoevent_path, :class => "btn btn-primary" %>    
          <% end %> 
        </div>
        
        <% @stand.each do |s| %>
          <div class="span4 offset4">
            <strong>
                N°Stand : <span class="text-info"><%= s.name %></span> - Taille : <span class="text-info"><%= s.size %></span>
            </strong>
          </div>
        <% end %>              
        

    </div>

    <br/><br/>

      <table class="table">
        <tr>
          <th>Lunch</th>
          <th>Desk</th>
          <th>Chair</th>
          <th>Table</th>
          <th>Trash</th>
          <th>Clothes rack</th>
          <th>Shelf</th>
          <th>Actions</th>
        </tr>

        <% @companytoevents.each do |companytoevent| %>        
            <tr>
              <td><%= companytoevent.lunch %></td>
              <td><%= companytoevent.desk %></td>
              <td><%= companytoevent.chair %></td>
              <td><%= companytoevent.table %></td>
              <td><%= companytoevent.trash %></td>
              <td><%= companytoevent.clothesrack %></td>
              <td><%= companytoevent.shelf%></td>
              <td>
                <%= link_to 'Edit', edit_companytoevent_path(companytoevent) %>
                <%= link_to 'Destroy', [companytoevent], method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
        <% end %>

      </table>

</div>

<% debug @stand%>
<% @stand.inspect%>

    
