<%= form_for [@event, @stand], :html => { :class => "form-inline"} do |f| %>

  <% if @stand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stand.errors.count, "error") %> prohibited this stand from being saved:</h2>

      <ul>
      <% @stand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :event_id, :value => params[:event_id] %>

  <div class="control-group">
    <div class="controls">
      <%= f.text_field :name, :placeholder => 'Identifier' %>
      <%= f.text_field :size, :placeholder => 'Size' %>
      <% if not @companies.nil? %>
          <%=select_tag "companies", options_from_collection_for_select(@companies, "id", "name"), :prompt => "Select company" %>
      <% end %>
      <%= f.submit :class => "btn btn-primary btn-small" %>
      <%= link_to 'Cancel', event_stands_path, :class => "btn btn-small" %>
    </div>
  </div>  


<% end %>
