
<%= render 'form' %>
<br />

<div class="container-fluid">

  <div class="row-fluid">
    
    <div class="span11"></div>
    <div class="span1 left"><i class='icon-share-alt'></i>
      <%= link_to "xls", event_stands_url(session[:current_event], :format => "xls") %>
    </div>
  </div>


  <table class="table">
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Event</th>
      <th>Actions</th>
    </tr>

  <% @stands.each do |stand| %>
    <tr>
      <td><%= stand.id %>. <%= stand.name %></td>
      <td>
        <% if stand.company %>
          <%= stand.company.name %>
        <% end %>
      </td>
      <td><%= stand.event.city %> / <%= stand.event.date_event %></td>
      <td>
        <%= link_to 'Edit', edit_event_stand_path(stand.event.id, stand.id) %> 
        <%= link_to 'Destroy', [stand.event, stand], method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>

  </table>

</div>