<header class="navbar navbar-inverse navbar-static-top">
  <nav class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to Event.find(session[:current_event]).event_name, root_path, :class => 'brand' %>
      <div class="nav-collapse">
        <ul class="nav">

          <li class="dropdown">
            <a href="/events" class="dropdown-toggle" data-toggle="dropdown"><%= t(:manage_event)%> <b class="caret"></b></a>
            <ul class="dropdown-menu">

              <li class="dropdown-submenu">
                <a tabindex="-1" href="<%= event_path(session[:current_event]) %>">
                  <i class="icon-home"></i> <%= Event.find(session[:current_event]).event_name %></a>
                <ul class="dropdown-menu">
                  <% @events.each do |ev| %>
                    <li><%= link_to ev.event_name, event_url(ev.id) %></li>
                  <% end %>
                </ul>
              </li>
              <li><%= link_to "Update this Event", edit_event_url(session[:current_event]) %></li>
              <li><%= link_to "Manage the documents", event_documents_url(session[:current_event]) %></li>
              <li><%= link_to "Destroy this Event", Event.find(session[:current_event]), method: :delete, data: { confirm: 'Are you sure?' }, :class=> "text-warning" %></li>
              <li class="divider"></li>

              <li class="nav-header"><%= t(:manage_companies)%></li>
              <li><%= link_to "New Company", event_companies_path(session[:current_event]) %></li>
              <li><%= link_to "Manage Companies", event_companies_path(session[:current_event]) %></li>
              <li class="divider"></li>

              <li class="nav-header"><%= t(:manage_guests)%></li>
              <li><%= link_to "Validation of guests", event_guests_path(session[:current_event])%></li>
              <li><%= link_to "Export as Excel", event_guests_path(session[:current_event], :format => "xls")%></li>
              <li class="divider"></li>

              <li class="nav-header"><%= t(:badges)%></li>
              <li><%= link_to t(:manage_badges), "#" %></li>
              <li><%= link_to t(:export_badges), "#"%></li>
              <li class="divider"></li>


              <li class="nav-header"><%= t(:manage_stand)%></li>
              <li><%= link_to "Manage Stands", event_stands_url(session[:current_event]) %></li>
              <li class="divider"></li>

              <li class="nav-header"><%= t(:manage_events)%></li>
              <li><%= link_to "Create a new Event", new_event_path%></li>

            </ul>
          </li>
          <li class="divider-vertical"></li>

          <li class=""><a href="/mails"><%= t(:manage_mails)%></a></li>
          <li class="divider-vertical"></li>

          <li class=""><a href="/htmlpages"><%= t(:manage_html_pages)%></a></li>
          <li class="divider-vertical"></li>

          <li class="">
            <p class="navbar-text">
              <span class="label label-important">ADMIN</span><em>(<a href="/sessions/logout"><%= t(:logout)%></a>)</em>
            </p>
          </li>

        </ul>
      </div>

    </div>
  </nav>
</header>
