<header class="navbar navbar navbar-static-top">
  <nav class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
     <!-- <%= link_to Contact.find(session[:current_user_authenticated]).company.name, root_path, :class => 'brand' %> -->
      <div class="nav-collapse">
        <ul class="nav">

          <li class="dropdown">
            <a href="/events" class="dropdown-toggle brand" data-toggle="dropdown"> <%= Event.find(session[:current_event]).event_name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% @events.each do |ev| %>
                <li><%= link_to ev.event_name, event_url(ev.id) %></li>
              <% end %>
            </ul>
          </li>
          
          <li class="divider-vertical"></li>

          <li><%= link_to "Manage Information", company_path(Contact.find(session[:current_user_authenticated]).company_id) %></li>
          <li class="divider-vertical"></li>

          <li><%= link_to "Manage features", "#axelle_smia_benaim" %></li>
          <li class="divider-vertical"></li>


          <li><%= link_to "Manage Badges", companytoevent_badges_path(Companytoevent.where("company_id = ? and event_id = ?", Contact.find(session[:current_user_authenticated]).company_id, session[:current_event]).first.id) %></li>
          <li class="divider-vertical"></li>


          <li><%= link_to "Manage Jobs", companytoevent_jobs_path(Companytoevent.where("company_id = ? and event_id = ?", Contact.find(session[:current_user_authenticated]).company_id, session[:current_event]).first.id) %></li>
          <li class="divider-vertical"></li>

          <li class="">
            <p class="navbar-text">
              Hello <%= Contact.find(session[:current_user_authenticated]).name %>
              <em>(<a href="/sessions/logout"><%= t(:logout)%></a>)</em>
            </p>
          </li>

        </ul>
      </div>

    </div>
  </nav>
</header>

