<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Careerfairs" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <% if session[:current_user_admin].present? %>
      <%= render 'layouts/navigation_admin' %>
    <% end %>
    <% if session[:current_user_authenticated].present? %>
      <%= render 'layouts/navigation_company' %>
    <% end %>
    <%= render 'layouts/breadcrumb' %>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

    <br /><br /><br />
    <hr />
    <pre>
      Session:<%=session%>.
      Params:<%=params%>.
      Event : <%=session[:current_event]%>
      <% if session[:current_user_authenticated].present? %>
          Contact : <%=Contact.find(session[:current_user_authenticated]).id%>
          Company : <%=Contact.find(session[:current_user_authenticated]).company.id%>
      <% end %>
    </pre>

  </body>
</html>